h2 {
  color: white;
  transition: .5s;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: gray;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 60vw;
  height: auto;
  background: #1f1b1b;
  border-radius: 25px;
  padding: 20px 0 20px 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background: grey;
  border-radius: 2%;
  overflow: hidden;
  text-align: center;
}

.slider-img {
  display: flex;
  transition: .5s;
  & img {
    width: 100%;
  }
}

input {
  /* border: 5px solid aqua; */
  display: none;
}

.slider-description {
  display: flex;
  overflow: hidden;
}

.slider-hidden {
  display: flex;
}

#radio_1:hover, #radio_2:hover, #radio_3:hover {
    cursor: pointer;
}

.txt1, .txt2, .txt3 {
  animation: 1s ease-in-out 0s alternate op;
}

.txt2, .txt3 {
  scale: 0;
  display: none;
}

input#radio_1:checked {
  & ~ .slider-description .txt3 {
    scale: 0;
    display: none;
  }

  & ~ .slider-description .txt2 {
    scale: 0;
    display: none;
  }

  & ~ .slider-description .txt1 {
    scale: 1;
    display: block;
  }

  & ~ .slider .slider-img {
    transform: translateX(0);
  }

  ~ .slider-button #radio1 span {
    color:#0081b0;
  }

}

input#radio_2:checked {
  & ~ .slider-description .txt3 {
    scale: 0;
    display: none;
  }

  & ~ .slider-description .txt2 {
    scale: 1;
    display: block;
  }

  & ~ .slider-description .txt1 {
    scale: 0;
    display: none;
  }

  & ~ .slider .slider-img {
    transform: translateX(-100%);
  }

  ~ .slider-button #radio2 span {
    color:#0081b0;
  }

}

input#radio_3:checked {
  & ~ .slider-description .txt3 {
    scale: 1;
    display: block;
  }

  & ~ .slider-description .txt2 {
    scale: 0;
    display: none;
  }

  & ~ .slider-description .txt1 {
    scale: 0;
    display: none;
  }

  & ~ .slider .slider-img {
    transform: translateX(-200%);
  }

  ~ .slider-button #radio3 span {
    color:#0081b0;
  }

}

.slider-button {
  display: flex;
  gap: 0.5rem;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  transition: .4s;
  border-radius: 50%;
  
  &:hover {
    & span {
      color: #0081b0;
    }
  }
}

span {
  color: aliceblue;
  font-size: 2rem;
  transition: .5s;
  border-radius: 1rem;
}

@keyframes op {
  0% { opacity:0; }   
  100% { opacity:1; }
}

@media (max-width: 1280px) {}

@media (max-width: 768px) {}

@media (max-width: 320px) {}