body {
    background-color: #25282a;
}

h1 {
    font-size: 1.5em;
    color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 489px;
    overflow: hidden;
}

.wrapper img {
    border-radius: 3%;
}

.wrapper_down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    
}

.right {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
}

.bar {
    width: 0.9em;
    height: 0.9em;
    background-color: #71abfe;
    border-radius: 45%;
    cursor: pointer;
    transition: all 0.4s;
}

.bar:hover {
    background-color: #ffff;
}


input[name="r"] {
    visibility: hidden;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}